<div mat-dialog-content>
  <div *ngIf="!registered">
    <p>Me rezervimin e biletes ju do te keni nje vend te ruajtur ne Autobus.</p>
    <br />
    <h3>{{ travel.agency }}</h3>
    <br />
    {{ getMunicipalityById(travel.route.municipalityIdFrom).nameSq }}
    - {{ getMunicipalityById(travel.route.municipalityIdTo).nameSq }}
    <br />
    <p>{{ travel.departTime }}-{{ travel.arrivalTime }}</p>
    <br />
    <p>
      Nese ne nderkoh mendoni te mos i bashkangjiteni udhetimit
      Prishtine-Prizren atehere ju lutem anuloni rezervimin tuaj 2 ore me heret
    </p>
    <p>
      Cmimi per bilete: {{ calculatePrice(travel.price) }}
      <mat-select style="width: 100px" [(value)]="price.sign"
        ><mat-option *ngFor="let prici of prices" [value]="prici.sign">
          {{ prici.sign }}
        </mat-option></mat-select
      >
    </p>
    <div mat-dialog-actions>
      <button mat-button color="primary" (click)="onNoClick()">
        Jo Faleminderit
      </button>
      <button
        mat-button
        color="primary"
        cdkFocusInitial
        style="color: #000; background-color: yellow"
        (click)="rezervo()"
      >
        Rezervo Bileten
      </button>
    </div>
  </div>
  <div *ngIf="registered">
    <p>Tiketa eshte rezervuar me sukses</p>
    <div mat-dialog-actions>
      <button mat-button color="primary" (click)="onNoClick()">Mbylle</button>
    </div>
  </div>
</div>
