<div style="display: flex;">
<div class="signup-page">
<form class="example-form" [formGroup]="form">
    <mat-label style="font-family: Poppins;
    font-weight: 400;
    font-size: 48px;
    color: #26416B">Sign Up</mat-label>
    <br>
    <mat-form-field class="example-full-width">
        <mat-label>Name</mat-label>
        <input matInput name="name" [formControlName]="'name'" placeholder="Example: Jhon">
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <mat-label>Last Name</mat-label>
        <input matInput name="lastName" [formControlName]="'lastName'" placeholder="Example: Cenna">
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input matInput name="email" [formControlName]="'email'" placeholder="Example: jhon@gmail.com" type="email">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Password</mat-label>
      <input matInput name="password" [formControlName]="'password'" type="password">
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <mat-label>Confirm Password</mat-label>
        <input matInput name="password" [formControlName]="'confirmPassword'" type="password">
      </mat-form-field>
      <br>
      <p *ngIf="form.controls.password.value===form.controls.confirmPassword.value&&form.controls.password.touched&&form.controls.password.value">Password Matches</p>
      <button mat-button (click)="signup()" color="primary" style="float: right; position: absolute; color:#26416B; background-color: yellow; width: 185px;">Register</button>
  </form>
</div>
<div>
    <img src="https://s3-alpha-sig.figma.com/img/7d6d/1e25/df722e5f418e8292a00d98e4c49a02da?Expires=1624233600&Signature=IKOZoKEqZEN-iTLHMS1UjAAzRn2fxK-ugQNSC3Q8QCbKOkWeDbs0M29icz3Dj~ce923rVU3SXgx9C9Zm8lCtbXDVPQLrUOqPWjDhv9-xRgI5gqv-EMjPWGdc4HoaHBcdXBTjU~TuvQpAHWQ72n5fgpz6qYTaH5AgFs70xUENgNE8Wviy1D0UPkOXQ7AQkWHJ171GI0oMpiw3r7t6xfbsvSMDcr3MLvYVSBZzLAExIiLsSlB15lgD9eWvOccFsrbMDrxi6u9d8OONC2tSCbC119TUGAJBuPtKKdMy1UIPASeEX24X9CrqPpwv7lrJMFiZgk3~tCAPtV9dAP6IRgQZvw__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA" style="width: auto; height: 800px;" alt="">
</div>
</div>