.mainPage{
    position: relative;
    width: 100%;
    height: calc(100% - 64px);
    background-color: #ffff;
}
.left-side {
    padding: 20px;
    width: 35%;
    background-color: #fff;
    height: 100%;
    float: left;
}
.right-side {
  padding: 20px;
  width: 60%;
  background-color: #fff;
  height: 100%;
  float: right;
}
.tickets-div{
    width: 250px;
    height: 150px;
    position: absolute;
    margin: 20px;
    left: 4px;
    top: 4px;
    right: 0;
    bottom: 0;
}
.rezervo-button{
    width: 340px;
}
