.grid-container {
  display: grid;
  grid-template-columns: auto auto;
}
.left-side {
  display:block;
  background-color: #fff;
  width: 70vh;
  height: 90vh;
  margin-left: 15px;
}
.right-side {
  width: 130vh;
  background-color: #fff;
  height: 90vh;
}
.tickets-div{
    width: 250px;
    height: 150px;
    position: absolute;
    margin: 20px;
    left: 4px;
    top: 4px;
    right: 0;
    bottom: 0;
}
.rezervo-button{
  width: 222%;
}
