.login-container{
  position: relative;
  height: 300px;
  width: 300px;
  bottom: 0;
  top: 0;
  left: 0;
  right:-0;
  margin: 0 auto;
  padding: 160px;
}
.login-form{
  margin: 0 auto;
  width: calc(100% - 20px);
  .mat-form-field{
      width: 100%;
  }
}

.login-page{
  height: 100%;
  width: 100%;
  background-size: cover;
  background-color: #fff;
}

// .login-bg{
//     height: 100%;
//     width: 100%;
//     position: absolute;
//     background-size: cover;
//     background-color: #fff;
// }
// .login-bg::before{
//     content: '';
//     height: 100%;
//     width: 100%;
//     position: absolute;
//     bottom: 0;
//     top: 0;
//     left: 0;
//     right: 0;
//     background-size: cover;
// }


// .login-bg::after{
//     content: '';
//     height: 100%;
//     width: 100%;
//     position: absolute;
//     bottom: 0;
//     top: 0;
//     left: 0;
//     right: 0;
//     background-color: #fff;
// }
.mat-card{
  width: 230px;
  position: absolute;
  height: 200px;
  box-shadow: none;
}
