<div
  style="display: flex; background-color: #fff; justify-content: space-between"
>
  <div style="background-color: #fff">
    <img
      src=".images/SLIDE_71dcd0a93329b3f1d448c677c9a4aa94.png"
      style="width: auto; height: 800px"
      alt=""
    />
  </div>
  <div class="login-bg"></div>
  <div class="login-page">
    <div class="login-container">
      <mat-card class="example-card" style="position: absolute">
        <mat-card-header>
          <mat-card-title
            style="font-family: Poppins; font-size: 30px; color: #26416b"
            >Login</mat-card-title
          >
        </mat-card-header>
        <mat-card-content>
          <form class="login-form" [formGroup]="form">
            <mat-form-field class="example-full-width">
              <mat-label style="color: #26416b; font: IBM Plex Sans"
                >Email</mat-label
              >
              <input
                matInput
                name="email"
                [formControlName]="'email'"
                type="email"
                placeholder="Ex. jhon@gmail.com"
                value=""
              />
              <p
                *ngIf="
                  form.controls.email.touched && form.controls.email.invalid
                "
              >
                Email is invalid
              </p>
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <mat-label style="color: #26416b; font: IBM Plex Sans"
                >Password</mat-label
              >
              <input
                [formControlName]="'password'"
                matInput
                name="password"
                type="password"
              />
              <p
                *ngIf="
                  form.controls.password.touched &&
                  form.controls.password.invalid
                "
              >
                Password is invalid
              </p>
            </mat-form-field>
          </form>
          <p *ngIf="error">{{ error }}</p>
        </mat-card-content>
        <mat-card-actions>
          <button
            mat-button
            [disabled]="form.invalid"
            (click)="login()"
            color="accent"
            style="
              color: #26416b;
              margin-left: 10%;
              background-color: yellow;
              width: 110px;
            "
          >
            LOGIN
          </button>
        </mat-card-actions>
        <p color="primary" style="margin-top: 10%; color: #26416b">
          If you're not registered switch to
          <a style="cursor: pointer" routerLink="/auth/signup">Signup</a>
        </p>
      </mat-card>
    </div>
  </div>
</div>
