<div class="section">
  <div class="container">
    <div class="content-section">
      <div class="title">
        <h1>About Us</h1>
      </div>
      <div class="content">
        <h3>Lorem ipsum color</h3>
        <p>lorem suhsdbasdgagsdgasgd asdgasdgagsd agsdg agsdgasd</p>
        <div class="button">
          <a href="">Read More</a>
        </div>
      </div>
      <div class="social">
        <a href=""><i class="fab fa-facebook-f"></i></a>
        <a href=""><i class="fab fa-twitter"></i></a>
        <a href=""><i class="fab fa-instagram"></i></a>
      </div>
    </div>
    <div class="image-section">
      <img src="..images/SLIDE_71dcd0a93329b3f1d448c677c9a4aa94.png" alt="" />
    </div>
  </div>
</div>
