<div>
  <p style="margin: 30px">Ju keni gjithsej {{ tickets.length }} rezervime</p>
  <mat-divider></mat-divider>
  <br />
  <div style="display: flex">
    <div class="biletat" *ngFor="let ticket of tickets">
      <div class="tickets-div">
        <mat-icon style="position: absolute; left: 0; top: 0">home</mat-icon>
        <br />
        <p style="position: absolute">{{ ticket.travel.agency }}</p>
        <br />
        <br />
        <p style="position: absolute">
          {{
            getMunicipalityById(ticket.travel.route.municipalityIdFrom).nameSq
          }}
          -
          {{ getMunicipalityById(ticket.travel.route.municipalityIdTo).nameSq }}
        </p>
        <br />
        <br />
        <div
          style="
            display: flex;
            justify-content: space-between;
            position: relative;
            left: -23px;
          "
        >
          <br />
          <p>
            {{ ticket.travel.departTime }} - {{ ticket.travel.arrivalTime }}
          </p>
          <br />
          <p style="position: relative; right: -23px">
            <a
              href="https://trafikurban-pr.com/orari-dhe-linjat"
              target="_blank"
              >Orari Javorë</a
            >
          </p>
        </div>
        <div style="position: absolute">
          <button
            mat-raised-button
            style="background-color: yellow; color: #000"
            class="rezervo-button"
          >
            Anulo Rezervimin
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
