.tickets-div {
  width: 250px;
  height: 200px;
  position: absolute;
  margin: 20px;
  left: 4px;
  top: 4px;
  right: 0;
  bottom: 0;
}
.biletat {
  padding: 110px;
  background-color: #ddd;
  margin: 30px;
  border-radius: 10px;
  position: relative;
  width: 110px;
}
.rezervo-button {
  width: 260px;
}
